main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.FAQ-Container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 70px 0px;
}
.FAQ-Container h1 {
  font-weight: 400;
}

#FAQ-Title {
  margin: 0;
  font-size: 45px;
  padding: 15px;
  font-weight: bold;
}
.FAQ-Container-0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Search-Container {
  margin: 0px;
  padding: 0px;
  justify-self: flex-end;
}
.FAQ-Container-0 input {
  border: none;
  padding: 5px 5px;
}

.FAQ-Container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.FAQ-Container-1 p {
  padding: 15px 15px;
}

.FAQ-Content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.FAQ-Content-0 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 25px;
}

.FAQ-Content-0 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.FAQ-Content-0 ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.FAQ-Content-0 div ul li {
  list-style: none;
  padding: 0px 15px;
}

.FAQ-Content-1 div,
.FAQ-Content-2 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px 0px;
  padding: 15px;
}
.FAQ-Content-1 div p,
.FAQ-Content-0 div p,
.FAQ-Content-2 div p {
  font-weight: 700;
}
